/* Hint: use relative measurements you'll find them useful! */
/* I may have removed a selector or two */

@import url('https://fonts.googleapis.com/css?family=Monoton');  

* {
    box-sizing: border-box;
}

#spritesheet {
  height: 0rem;
}

body {
  background-image: url('./background.png');
  background-attachment: fixed;
}

main {
  background-color: #FFFFFF;
  border: solid;
  margin: 2.4rem 2.5rem 2.4rem 2.7rem;
  border: 1rem solid;
  border-width: 1rem;
  border-image: url('./border.gif') 20;
}
header {
  font-size: 6rem;
  text-transform: uppercase;
  margin: 2rem 4rem 3rem 2rem;
}

header a {
  text-decoration: none;
}

.logo {
  font-family: 'Monoton';
  border: solid transparent;
  background-color: #f151d1ee;
  font-size: 3rem;
  color: #000000;
  border-radius: 50%;
  padding: 0.4rem 1rem 0.4rem 1rem;
  margin-bottom: 2rem;
  box-shadow: 0rem 0.4rem 0.6rem -0.1rem #000000;
}

.fun {
  color: white;
  text-shadow: 0 0 0.2rem red, 0 0.2rem 0.2rem red, 0.01rem 0 0.2rem red, 0 -0.1rem 0.02rem red;
  font-family: monospace;
  padding-top: 1rem;
  letter-spacing: 0.1rem;
}

section {
  display: flex;
  flex-direction: column-reverse;
}

section > div {
    text-align: center;
    text-transform: lowercase;
    font-family: "Comic Sans MS";
    font-size: 1.5rem;
    color: #FFFFFF;
    border: 1rem solid transparent;
    margin-left: 2rem;
    margin-right: 2rem;
}

section > div:nth-child(even) {
  background-color: rgb(43, 209, 252);
}

section > div:nth-child(odd){
  background-color: rgb(192,77,249);
}
section > div:nth-child(3):after {
  content: " \2665\2665\2665";
  font-size: 1.1rem;
}

aside {
  background: rgb(255,63,63);
  color: white;
  border: 1rem solid black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 1rem;
  font-size: 2rem;
  margin: 1rem 2rem 0rem 2rem;
  padding: 1rem;
  font-family: sans-serif;
  text-align: center;
}

[title~=bugs] {
  width: 2rem;
  height: 2rem;
}

#bug {
  fill: white;
  width: 10vw;
}

#zap {
  position: relative;
  height: 5rem;
  margin: 1rem 2rem 1rem 2rem;
  text-align: center;
  color: white;
  background-color: rgb(243,243,95);;
  text-shadow: 0 0.1rem 0 black;
  font-size: 1.7rem;
  outline: 0.001rem solid white;
  outline-offset: -0.2rem;
  border-radius: 0.2rem;
}

section h3 {
  position: relative;
  top: 0.7rem;
}

footer {
  margin-top: 3.5rem;
  padding-top: 0.1rem;
  padding-bottom: 1.3rem;
  background-color: #f151d1ee;
  color: black;
  text-align: center;
  font-family: Cursive;
}

div img {
  margin-top: 1rem;
  width: 25%;
  height: 60%;
}

.wrapper > span {
	display: none;
}

.wrapper:hover > span {
	position: relative;
	display: inline;
	border: 0.5rem solid black;
	padding: 1rem;
	background-color: white;
	bottom: 9rem;
}

/* Solution given should
   be below 250 lines, the solution we had was
   below 200 easily formatted */
